# Ignore Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
xbds12-env

# Ignore logs & temp files
*.log
*.tmp
*.out

# Ignore data
data/*
!data/.gitkeep
!src/data

# Ignore logs
logs/


# Ignore common large or raw file types
.ipynb_checkpoints
*.csv
*.json
*.zip
*.h5
*.pth
*.ckpt
*.png
*.tif
*.jpg
*.jpeg
*.pt
*egg-info

# Ignore IDE & OS-specific files
.DS_Store
.vscode/
.idea/

# virtual environment
